<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="admin_layout">
<head>
<meta charset="UTF-8">
<title>Trang Admin</title>
</head>
<body>
	<div layout:fragment="page_content">
		 <!-- Content Wrapper. Contains page content -->
		  <div class="content-wrapper">
		    <!-- Content Header (Page header) -->
		    <section class="content-header">
		      <div class="container-fluid">
		        <div class="row mb-2">
		          <div class="col-sm-6">
		            <h1>chào mừng bạn đến với trang Admin</h1>
		          </div>
		        </div>
		      </div><!-- /.container-fluid -->
		    </section>
		  </div>
  <!-- /.content-wrapper -->
	</div>
</body>
</html>