<nav th:fragment="navbar">
	<div class="nav__header">
		<div class="nav__logo">
			<a th:href="@{/}">RENTAL</a>
		</div>
		<div class="nav__menu__btn" id="menu-btn">
			<i class="ri-menu-line"></i>
		</div>
	</div>
	<ul class="nav__links" id="nav-links">
		<li><a th:href="@{/}">Home</a></li>
		<li><a th:href="@{/shop}">Shop</a></li>
		<li><a th:href="@{/about-us}">About</a></li>
		<li><a th:href="@{/contact-us}">Contact</a></li>
	</ul>
	
	<div class="nav__btn">
		<div sec:authorize="isAuthenticated()" th:remove="tag" style="boder: 1px soild #000">
			<div class="site-header__login">
				<button type="button" class="search-trigger" >
					<div class="action">
        <div class="profile" onclick="menuToggle();">
            <img th:src="${'/assets/images/'+ #authentication.principal.picture}" alt="">
        </div>

        <div class="menu">
            <h3>
				<span th:text="${#authentication.principal.fullName}"></span>
                <div>
                    Operational Team
                </div>
            </h3>
            <ul>
                <li>
                    <span class="material-icons icons-size">mode</span>
                    <a href="#">About</a>
                </li>
                <li>
                    <span class="material-icons icons-size">insert_comment</span>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <span class="material-icons icons-size">logout</span>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function menuToggle(){
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        }
    </script>
				</button>
			</div>
		</div>
		
		<div sec:authorize="isAnonymous()" th:remove="tag">
			<div class="site-header__login">
				<button type="button" class="search-trigger" >
					<a th:href="@{/login}" style="color:#000;"><i class="icon anm anm-user-circle-o"></i></a>
				</button>
			</div>
		</div>
		
		<div class="site-cart">
			<a href="#;" class="site-header__cart" title="Cart"> <i
				class="icon anm anm-bag-l"></i> 
				<span id="CartCount" class="site-header__cart-count" data-cart-render="item_count" th:text="${cartitems.size()}">2</span>
			</a>
			<!--Minicart Popup-->
			<div id="header-cart" class="block block-cart">
				<ul class="mini-products-list">
                                <li class="item" th:each="item:${cartitems}" th:object="${item}">
                                	<a class="product-image" href="#">
                                    	<img th:src="*{picture}" th:alt="*{productName}" th:title="*{productName}" />
                                    </a>
                                    <div class="product-details">
                                    	<a href="#" class="remove"><i class="anm anm-times-l" aria-hidden="true"></i></a>
                                        <a href="#" class="edit-i remove"><i class="anm anm-edit" aria-hidden="true"></i></a>
                                        <a class="pName" href="/cart" th:text="*{productName}"></a>
                                        <div class="variant-cart"><span th:text="*{color}"></span> / <span th:text="*{size}"></span></div>
                                        <div class="wrapQtyBtn">
                                            <div class="qtyField">
                                            	<span class="label">Qty:</span>
                                                <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                <input type="text" id="Quantity" name="quantity" th:value="*{quantity}" class="product-form__input qty">
                                                <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="priceRow">
                                        	<div class="product-price">
                                            	$<span class="money" th:text="*{price}"></span>
                                            </div>
                                         </div>
									</div>
                                </li>
                  </ul>
				
				
				
				<div class="total">
					<div class="total-in">
						<span class="label">Cart Subtotal:</span><span
							class="product-price">$<span class="money" th:text="${totalCart}">748.00</span></span>
					</div>
					<div class="buttonSet text-center">
						<a href="/cart" class="btn btn-secondary btn--small">View
							Cart</a> <a href="/cart" class="btn btn-secondary btn--small">Checkout</a>
					</div>
				</div>
			</div>
			<!--End Minicart Popup-->
		</div>

	</div>
</nav>

