<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa mới sản phẩm</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Sửa mới sản phẩm</h1>
        
        <form th:action="@{/admin/products/cap-nhat}" th:object="${product}" method="post">
            <input type="hidden" th:field="*{productId}"/>
            <!-- Product Name -->
            <div class="form-group">
                <label for="productName">Tên sản phẩm</label>
                <input type="text" class="form-control" id="productName" th:field="*{productName}" />
                <div th:if="${#fields.hasErrors('productName')}" class="text-danger">
                    <ul th:errors="*{productName}"></ul>
                </div>
            </div>
            <div class="form-group">
                <label for="price">Giá cũ</label>
                <input type="number" class="form-control" id="priceOld" th:field="*{priceOld}" step="0.01" />
                <div th:if="${#fields.hasErrors('priceOld')}" class="text-danger">
                    <ul th:errors="*{priceOld}"></ul>
                </div>
            </div>
            <!-- Price -->
            <div class="form-group">
                <label for="price">Giá mới</label>
                <input type="number" class="form-control" id="price" th:field="*{price}" step="0.01" />
                <div th:if="${#fields.hasErrors('price')}" class="text-danger">
                    <ul th:errors="*{price}"></ul>
                </div>
            </div>
            <div class="form-group row">
				<label class="col-sm-2 col-form-label" for="file">Ảnh:</label>
				<div class="col-sm-10">
					<input type="file" name="file" class="form-control"
						accept=" /assets/images/*" />
				</div>
			</div>
            <div class="form-group">
                <label for="price">Màu</label>
                <input type="text" class="form-control" id="colors" th:field="*{colors}" step="0.01" />
                <div th:if="${#fields.hasErrors('colors')}" class="text-danger">
                    <ul th:errors="*{colors}"></ul>
                </div>
            </div>
            
            <div class="form-group">
                <label for="text">Kích thước</label>
                <input type="text" class="form-control" id="sizes" th:field="*{sizes}" step="0.01" />
                <div th:if="${#fields.hasErrors('sizes')}" class="text-danger">
                    <ul th:errors="*{sizes}"></ul>
                </div>
            </div>
            
            <!-- brief -->
            <div class="form-group">
                <label for="description">Mô tả ngắn</label>
                <textarea class="form-control" id="brief" th:field="*{brief}"></textarea>
                <div th:if="${#fields.hasErrors('brief')}" class="text-danger">
                    <ul th:errors="*{brief}"></ul>
                </div>
            </div>
            
            <!-- Description -->
            <div class="form-group">
                <label for="description">Mô tả</label>
                <textarea class="form-control" id="description" th:field="*{description}"></textarea>
                <div th:if="${#fields.hasErrors('description')}" class="text-danger">
                    <ul th:errors="*{description}"></ul>
                </div>
            </div>
            
            <div class="form-group">
    			<label for="category">Danh mục</label>
    				<select class="form-control" id="category" name="category" th:field="*{category}">
	        			<option value="">-- Chọn danh mục --</option>
	       				 <!-- Lặp qua danh sách categories được truyền từ controller -->
	        			<option th:each="cat : ${categories}"
			                th:value="${cat.id}"
			                th:text="${cat.name}"
			                th:selected="${product.category != null && cat.id == product.category.id}">
	        			</option>
    				</select>
     			<div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></div>
			</div>
            
            <!-- Active -->
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="status" th:field="*{status}" />
                <label class="form-check-label" for="status">Còn hàng</label>
            </div>
            
            
            
            <button type="submit" class="btn btn-primary"> Cập nhật </button>
        </form>
    </div>

</body>
</html>